# Python virtual environment
humanitarian_env/
Final Year Project Humanitarian Data Schema Analyser/
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Build/package files
build/
dist/
*.egg-info/

# Generated outputs
*.html
*_schema.json